<!DOCTYPE html>
<html ng-app="gCharts">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/angular.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var urlR='http://localhost:3000/api/orders/getOrders?start_date=01%2F01%2F2015&end_date=12%2F01%2F2015&op=count';

        $.ajax({
          url: urlR,
          type: 'GET',
          dataType: 'json',
          crossDomain: true,
          success: function (data, textStatus, xhr) {
            var resultData=[["Date","Order" ]];

            for(i in data.result)
            {
              var dt=data.result[i]._id.createdAt;
              dt=dt.day+'/'+dt.month+'/'+dt.year;
              resultData.push([dt,data.result[i].count]);
            }

            var data=google.visualization.arrayToDataTable(resultData);

            var options = {
              title: 'Company Performance',
              hAxis: {title: 'Date',  titleTextStyle: {color: '#333'}},
              vAxis: {minValue: 0}
            };

            var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
            chart.draw(data, options);


          },
          error: function (xhr, textStatus, errorThrown) {
            console.log(errorThrown);
          }
        })

      }
    </script>

    <script>

      var module=angular.module("gCharts",[]);

      var chartController=module.controller("chartController",function($scope){
        $scope.output='';

          $scope.submit= function(){
            var start_date=this.sdate;
            var end_date=new Date(this.edate.getMonth()+'/'+this.edate.getDay()+'/'+this.edate.getFullYear()+' 23:59:00');

            console.log(end_date);
            var operation=this.operation;
            $scope.output=start_date+':'+end_date+':'+operation;
          }
      });
    </script>
  </head>
  <body>
  <form ng-submit="submit()" ng-controller="chartController">
  <div >
    <input type="date" id="sdate" ng-model="sdate"  required/>
    <input type="date" id="edate" ng-model="edate"  required/>
    <input type="text" id="txtoperation" ng-model="operation" required/>
    <input type="submit" id="btnSubmit" value="submit"/></br>
<input type="hidden" id="hdnOutput" value={{output}} >
    {{output}}
  </div>
     <div id="chart_div" style="width: 100%; height: 300px;"></div>
  </form>
  </body>
</html>
